@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityUser> 

@{
    ViewBag.Title = "FreelancersList";
}

<h2>FreelancersList</h2>

<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.UserName)
		</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.UserName)
			</td>
		</tr>
	}

</table>
